apache-airflow-providers-slack==7.2.0
airflow-provider-great-expectations==0.2.5
airflow-provider-firebolt==0.1.3
apache-airflow-providers-trino==4.3.1
great-expectations==0.15.50
lightgbm==3.2.1
matplotlib==3.5.1
mlflow==1.23.0
openlineage-airflow==0.19.2
pandas==1.3.4
scikit-learn==1.0.1
sqlalchemy-bigquery==1.3.0
